.jumbotron {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }

 #layoutSidenav_content{
    main {
        div:first-child[class~=container] {
          padding-top: 3rem!important;
        }
    }
  }